.color-highlight {
	color: #225E9B;
}

body {
	background-image:url(../images/bg.png);
}

body[class*="page-themes-bootswatch"] {
	background-image: none;
}

body[class*="page-themes-bootswatch"] .color-highlight {
	color: inherit;
}

header.navbar-fixed-top {
  border-bottom: 1px solid #ddd;
}

.thumbnail-row {
	margin-top: 10px;
}

/*h1, */h2 {
  margin-top: 30px;
}

h3, h4, h5, h6 {
  margin-top: 20px;
}

.carousel-caption a {
  color: white;
}

/* A bit of workaround for links being not clickable due to :before element in headings */
.project-msb4-parent.page-index h2[id]:before {
  height: 30px;
  margin-top: -30px;
}

.project-msb4-parent.page-index .sidebar {
  margin-top: 10px;
}

.project-msb4-parent.page-index .sidebar {
  margin-top: 10px;
}

.project-msb4-parent.page-index .sidebar h3 {
  margin-top: 10px;
}

@media (max-width: 48em) {
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-item {
    display: block;
    width: 100%;
    margin-left: 0;
  }
}

@media (min-width: 980px) {
  .page-themes-bootswatch-readable .navbar.affix {
    top: 60px;
  }

  .page-themes-bootswatch-cerulean .navbar.affix {
    top: 50px;
  }

  .page-themes-bootswatch-spruce .navbar.affix {
    top: 55px;
  }
}

